@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(36px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(36px) rotate(-360deg);
  }
}

.orbit-icon {
  animation: orbit 1.6s linear infinite;
}