@keyframes fillAnimation {
  0% {
    fill: transparent;
  }
  100% {
    fill: #fbbf24; /* Tailwind Yellow */
  }
}

.animate-fill {
  animation: fillAnimation 0.5s forwards;
}

/* Fade-in animation for toast */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}
