@keyframes rain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes snow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sunshine {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes clouds {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

.sunshine {
  animation: sunshine 10s ease-in-out infinite;
}

.rain {
  animation: rain 5s ease-in-out infinite;
}

.snow {
  animation: snow 5s ease-in-out infinite;
}

.clouds {
  animation: clouds 10s linear infinite;
}

.animate-pulse {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}
