.suggestion-container {
    width: 430px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-box {
    padding-top: 64px;
}

.input-search {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;

    background-color: transparent;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
}

.input-search::placeholder {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.input-search:hover,
.input-search:focus {
    outline: none;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
}


.suggestion-container ul {
    padding-inline-start: 0;
}

.suggestion-container ul li {
    font-size: 24px;
    list-style-type: none;
}